    <section class="block container block-domain">
      <div class="block__header">
        <h2 class="block__heading">Starting at $10 per year</h2>
        <p>Lorem elit. Sed facilis officia non tenetur. Error, voluptatem.</p>
      </div>
      <div class="input-group">
        <input
          type="text"
          class="input"
          placeholder="enter domain name here oh yeah"
        />
        <button class="btn btn--accent">
          <svg class="icon icon--white">
            <use xlink:href="images/sprite.svg#search"></use></svg
          >search
        </button>
      </div>
      <ul class="list block-domain__prices">
        <li><span class="badge badge--secondary">.sg $7.91</span></li>
        <li>.com</li>
        <li>.net</li>
        <li>.org</li>
        <li>.xyz</li>
        <li>.shirkhar 4$</li>
      </ul>
    </section>