<section class="block container">
  <div class="block__header">
    <h2 class="block__heading">heading 1</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quae
      vero suscipit ut. Soluta.
    </p>
  </div>
</section>

<section class="block block--dark block--skewed-left">
  <div class="container">
    <div class="block__header">
      <h2 class="block__heading">heading 2</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos ex
        recusandae facer.
      </p>
    </div>
  </div>
</section>
