<footer class="block block--dark">
  <div class="grid container footer">
    <section class="collapsible footer__section">
      <header class="collapsible__header footer__header">
        <h2 class="collapsible__heading footer__heading">Item 1</h2>
        <img
          src="images/chevron.svg"
          class="icon icon--white collapsible__chevron"
        />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="">awebsite hosting</a></li>
          <li><a href="">free auotomated</a></li>
          <li><a href="">wordpress</a></li>
          <li><a href="">migration</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header footer__header">
        <h2 class="collapsible__heading footer__heading">Item 2</h2>
        <img
          src="images/chevron.svg"
          class="icon icon--white collapsible__chevron"
        />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="">awebsite hosting</a></li>
          <li><a href="">free auotomated</a></li>
          <li><a href="">wordpress</a></li>
          <li><a href="">migration</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header footer__header">
        <h2 class="collapsible__heading footer__heading">Item 3</h2>
        <img
          src="images/chevron.svg"
          class="icon icon--white collapsible__chevron"
        />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">awebsite hosting</a></li>
          <li><a href="#">free auotomated</a></li>
          <li><a href="#">wordpress</a></li>
          <li><a href="#">migration</a></li>
        </ul>
      </div>
    </section>
    <div class="footer__brand">
      <img class="footer__brand-image" src="images/logo.svg" alt="" />
      <p class="footer__brand-text">copyright mosh hamedani 2020</p>
    </div>
  </div>
</footer>
<script src="js/main.js"></script>
