<nav class="nav collapsible">
  <div class="nav__header">
    <a class="nav__logo" href="/"><img src="images/logo.svg" alt="" /></a>
    <svg class="icon icon--white nav__toggler">
      <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
  </div>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="https://google.com">hosting</a></li>
    <li class="nav__item"><a href="#">domain</a></li>
    <li class="nav__item"><a href="#">vps</a></li>
    <li class="nav__item"><a href="#">vpn</a></li>
  </ul>
</nav>
