<div class="card testimonial" style="margin: 3rem">
  <div class="grid grid--12">
    <div class="testimonial__header">
      <div class="icon-container testimonial__icon">
        <svg class="icon icon--white icon--small">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </div>
      <img
        class="testimonial__image"
        src="images/testimonial.jpg"
        alt="happy customer"
      />
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi
        perspiciatis reprehenderit nam quod delectus, provident cupiditate
        veritatis quis corporis? Nam mollitia ipsam sequi inventore fugit fuga
        quidem eum possimus iusto!
      </p>
      <footer>
        <div class="media media--quote">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Amirhossin</h3>
            <p class="quote__organization">ABC company</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
